body {
    font-family: 'Lora', serif;
    background-color: #f4f4f4;
    color: #070606;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    scroll-behavior: smooth;
    font-size: 15px;
}

h1 {
    font-size: 1.45em; /* Adjust the h1 font size here */
}
h2 {
    font-size: 1.4em; /* Adjust the h2 font size here */
}
h3 {
    font-size: 1.3em; /* Adjust the h3 font size here */
}
p {
    font-size: 1em; /* Adjust the paragraph font size here */
}
.container {
    display: flex;
    min-height: 100vh;
}
.sidebar {
    width: 15%;
    background-color: #ddd;
    padding: 18px;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news-item-blue {
    color: #007BFF; /* Bootstrap blue */
}

.news-item-green {
    color: #28A745; /* Bootstrap green */
}

.news-item-yellow {
    color: #FFC107; /* Bootstrap yellow */
}

.research-image {
    max-width: 100%; /* Ensures the image does not overflow its container */
    height: auto; /* Maintains the aspect ratio of the image */
    border-radius: 5px; /* Adds slightly rounded corners to the image */
    margin-top: 10px; /* Adds some space above the image */
}

.social-icons {
    display: flex;
    gap: 15px; /* Adjust spacing between icons */
    margin-top: 20px;
}
.social-icons a {
    color: #878dd4; /* Icon color */
    font-size: 1.5em; /* Adjust icon size */
    transition: color 0.3s ease;
}
.social-icons a:hover {
    color: #000; /* Icon color on hover */
}
.profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 20px;
    border: 3px solid #ccc;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.profile-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main-content {
    width: 70%;
    padding: 20px;
    background: #fff;
    max-width: 1200px; /* Set a maximum width */
    margin-right: 20px; /* Add margin to the right */
}
h1, h2, h3 {
    color: #233c8e;
    /* text-transform: uppercase; */
}

.name {
    color: #090909;
    text-align: center;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15); /* soft shadow */
}

.name, .bio {
    color: #090909;
    text-align: center;
}
nav ul {
    list-style-type: none;
    padding: 0;
}
nav ul li {
    margin-bottom: 10px;
}
a {
    color: #050505;
    text-decoration: none;
    transition: color 0.3s ease;
}
a:hover {
    color: #060505;
}
.research-item {
    margin-bottom: 5px;
    display: flex;
    align-items: flex-start;
    background: #eee;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.term-link {
    text-decoration: underline; /* Ensure underline for specific term links */
}
.research-info {
    flex: 1;
}
.research-figure {
    width: 200px;
    margin-left: 20px;
}
.research-figure img {
    max-width: 75%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 2px;
}
.demo {
    margin-bottom: 20px;
    background: #eee;
    padding: 15px;
    border-radius: 10px;
}
.demo img, .demo video {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}
.neural-network {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
    opacity: 0.1;
    animation: moveBackground 30s linear infinite;
}
@keyframes moveBackground {
    0% { background-position: 0 0; }
    100% { background-position: 100% 100%; }
}
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    .sidebar, .main-content {
        width: 100%;
    }
    .profile-photo {
        width: 150px;
        height: 150px;
    }
}
